/*Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #F5F5DC;
  }
  
  /* Header styles */
  header {
    background-color: #F5F5DC;
    color: #000000;
    padding: 20px;
    border: 2px solid #000000
  }
  
  header h1 {
    font-size: 40px;
    font-weight: bold;
  }
  
  /* Navigation styles */
  nav {
    background-color: #555;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #f2f2f2;
  }
  
  /* Main styles */
  main {
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #000000
  }
  
  main h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  main p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
   
  }
  
  /* Footer styles */
  footer {
    background-color: #555;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
